h2 {
  color: blue;
  text-align: center;
}
.intro {
  text-align: center;;
  color: red;
}
.title {
  text-align: center;
  color: green;
}
p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
}
li {
  font-size: 20px;
}
h3 {
  color: #782221;
  text-align: center;

}
.me {
  float: left;
  height: 300px;
  padding-right: 10px;
  margin-right: 10px;
}
.description {
  font-size: 14px;
  text-align: left;
  margin-right: 10px;
}
.sydney {
  height: 250px;
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.wallabies {
  height: 350px;
  width: 350px;
}
.fun {
  float: right;
  text-align: center;
  border: 4px;
  padding: 40px;
}
.vy {
  margin-left: 15px;
  height: 325px;
  width: 275px;
}
.guinness {
  height: 350px;
  width: 350px;
}
.ring {
  color: #54D2D2
}
.be {
  color: #000000
}
.lgi {
  color: #FFE936;
}
.um {
  color: #FF0F21
}
.epicodus {
  margin-bottom: 20px;
}
.loony {
  float: right;
  height: 300px;
  padding-left: 10px;
  margin-left: 10px;
}
.green {
  color: #26C355
}
.brain {
  height: 300px;
}
