h2 {
  color: blue;
  text-align: center;
}
.intro {
  text-align: center;;
  color: red;
}
.title {
  text-align: center;
  color: green;
}
p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  text-align: center;
}
li {
  font-size: 20px;
}
h3 {
  color: blue;
  text-align: center;

}
.me {
  float: left;
}
.description {
  font-size: 12px;
  text-align: left;
  margin-right: 10px;
}
.sydney {
  height: 300px;
  width: 450px;
  margin-left: 25px;
}
.wallabies {
  height: 350px;
  width: 350px;
  margin-left: 100px;
}
.fun {
  float: right;
  text-align: right;
}
body {
  background-image: url("seattle.jpg")
}
